<div class="user-container-fluid" layout="row" layout-align="center center">
    <div flex-gt-sm="66" flex="50" class="auth-user-container">
        <div flex-gt-sm="66" flex="50" class="auth-user-content-left">
            <img class="user-img-logo img-responsive" src="../../../assets/images/UserLogo_img.png" alt="" />
            <p class="user-welcome-text">W e l c o m e &nbsp; B a c k</p>
        </div>

        <div flex-gt-sm="66" flex="50" class="auth-user-content-right">
            <router-outlet></router-outlet>
            <div class="auth-user-icon-circle">
                <img src="../../../../assets/images/login_icon.png" alt="" />
            </div>
        </div>
    </div>
</div>