<div class="auth-form user-form-content">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h3 class="user-top-heading-text">Forgot Your Password</h3>
            <label class="label label-text pb-2" for="">Don't worry just fill in your email and we’ll help you reset
                your password.</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" formControlName="email" autocomplete="off" />
            <div *ngIf="showError('email')" class="error-message">
                {{getErrorMessage('email')}}
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="agreeTerms" id="agreeTermsCheckbox" />
            <label class="user-terms-text" for="agreeTermsCheckbox">
                <span>I agree with</span> <span class="term-condition-text" routerLink="/dashboard"> terms and
                    conditions</span>
            </label>
        </div>
        <div *ngIf="showError('agreeTerms')" class="error-message check-error">
            {{getErrorMessage('agreeTerms')}}
        </div>
        <div class=" button-wrapper">
            <app-button [label]="'Reset Password'" [cssClass]="'submit-btn'" [type]="'submit'" [disabled]="isEmailError"
                [iconClass]="'lock_reset'"></app-button>
            <app-button [label]="'Back'" [cssClass]="'back-btn'" (click)="handleBack()" [iconClass]="'arrow_back'"
                [iconPosition]="'left'"></app-button>
        </div>
    </form>
</div>