.button-wrapper {
  display: flex;
  gap: 20px;
}
.check-error {
  margin-top: -20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .button-wrapper {
    flex-direction: column;
  }
}
